#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -D -m755 target/release/rust-socksd debian/rust-socksd/usr/bin/rust-socksd
	install -D -m644 config/rust-socksd.service debian/rust-socksd/lib/systemd/system/rust-socksd.service
	install -D -m644 config/rust-socksd.sysusers.conf debian/rust-socksd/usr/lib/sysusers.d/rust-socksd.conf
	install -D -m640 config/config.yml.journald.example debian/rust-socksd/etc/rust-socksd/config.yml
	install -D -m660 config/users.yml.example debian/rust-socksd/etc/rust-socksd/users.yml
	install -d debian/rust-socksd/var/log/rust-socksd
	install -d debian/rust-socksd/var/lib/rust-socksd

override_dh_auto_clean:
	rm -rf target

override_dh_auto_test:
	# Skip tests for now - can be enabled later
	# cargo test

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --exclude=rust-socksd

override_dh_makeshlibs:
	# Skip makeshlibs for binary packages (not a library)

override_dh_shlibdeps:
	# Skip shlibdeps for Rust binary (dependency tracking handled by Rust build system)